@import url('https://fonts.googleapis.com/css?family=Roboto:300');
*,
*:after,
*:before {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.banner {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  color: white;
  background-color: #434334;
  order: 1;
}
.banner strong {
  color: black;
}
.banner a {
  color: lightblue;
}
.banner i {
  cursor: pointer;
}
.banner_hidden {
  display: none;
}
.header {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  order: 2;
  padding: 5px;
}
.header > * {
  flex: 1 100%;
}
.logo {
  flex: 1 auto;
  display: flex;
}
.logo__brand {
  padding-left: 8px;
}
.logo__name {
  font-family: Times;
  font-size: 60px;
  font-variant: small-caps;
  font-weight: 300;
  color: #0078ba;
  line-height: 48px;
}
.search {
  flex: 0 auto;
  position: relative;
}
.search__input {
  border: 1px solid black;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  border-radius: 18px;
  padding-left: 15px;
}
.search__button {
  position: absolute;
  right: 0;
  top: 5px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.menu {
  order: 3;
}
.menu__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: #7D8FA0;
  padding: 0;
}
.menu-item {
  display: flex;
  padding: 10px 15px;
  color: white;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
}
.menu-item__link {
  color: white;
  text-decoration: none;
}
.menu-item:hover {
  background-color: #738393;
}
.menu-item__icon {
  font-size: 18px;
}
.menu-item_hot {
  background-color: #FFAE00;
}
.menu-item_hot:hover {
  background-color: orange;
}
.menu-item__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  transform: scaleY(0);
  transform-origin: top;
  transition: .3s;
  width: 220px;
  color: black;
  background: white;
  padding: 0;
}
.dropdown-item {
  padding: 15px 20px;
  
}
.dropdown-item__link {
  color: black;
  text-decoration: none;
  transition: .15s;
  font-size: 98%;
}
.dropdown-item__link:hover {
  color: #008bd6;
  text-decoration: none;
  font-size: 100%;
}
.dropdown-item_separator {
  height: 1px;
  background: rgb(220, 220, 220);
  margin-left: 20px;
  margin-right: 20px;
}
.menu-item:hover > .menu-item__dropdown {
  transform: scaleY(1);
}
.content {
  background: #E7EAED;
  order: 4;
  flex: 10;
  padding: 10px;
}
.footer {
  order: 5;
}

@media (max-width: 600px) {
  .content {
    order: 3;
  }
  .menu {
    position: fixed;
    bottom: 0;
  }
  .menu__list::after {
    content: 'Меню'
  } 
  /*.menu__list {
    position: absolute;
    bottom: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: .3s;
    list-style-type: none;
    background-color: #7D8FA0;
    padding: 0;
  }
  .menu-item {
    display: flex;
    padding: 10px 15px;
    color: white;
    font-size: 18px;
  }
  .menu-item__link {
    color: white;
    text-decoration: none;
  }
  .menu-item:hover {
    background-color: #738393;
  }
  .menu-item__icon {
    font-size: 18px;
  }
  .menu-item_hot {
    background-color: #FFAE00;
  }
  .menu-item_hot:hover {
    background-color: orange;
  }
  .menu-item__dropdown {
    list-style-type: none;
    
    width: 220px;
    color: black;
    background: white;
    padding: 0;
  }
  .dropdown-item {
    padding: 15px 20px;
    
  }
  .dropdown-item__link {
    color: black;
    text-decoration: none;
    transition: .15s;
    font-size: 98%;
  }
  .dropdown-item__link:hover {
    color: #008bd6;
    text-decoration: none;
    font-size: 100%;
  }
  .dropdown-item_separator {
    height: 1px;
    background: rgb(220, 220, 220);
    margin-left: 20px;
    margin-right: 20px;
  }
  .menu-item:hover > .menu-item__dropdown {
    transform: scaleY(1);
  }*/
  .footer {
    display: none;
  }
}